<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >
    <head th:replace="layout/plantilla ::head" >
        <title>TODO supply a title</title>
    </head>
    <body>
        <header th:replace="layout/plantilla ::header"></header>

        <div class="container mt-3">
            <h1 class="display-3 mb-5" style="text-align: center">Preparación Acádemica</h1>
            <div class="row mt-3" >

                <div class="col d-flex justify-content-around">
                    <div class="input-group-prepend">
                        <h4 class="" ><b>Codigo Empleado:</b></h4>
                    </div>
                    <h4 th:name="id_empleado" th:text="${id_empleado}" class="mr-2"></h4> <!-- CODIGO EMPLEADO -->

                    <div class="input-group-prepend">
                        <h4 class="" ><b>Nombre Empleado:</b></h4>
                    </div>
                    <h4 th:name="nombre_empleado" th:text="${nombre_empleado}" class="mr-2"></h4> <!-- NOMBRE EMPLEADO -->

                    <div class="input-group-prepend">
                        <h4 class="" ><b>Fecha Ingreso:</b></h4>
                    </div>
                    <h4 th:name="salario_base" th:text="${fecha_ingreso}" class="mr-2"></h4> <!-- SALARIO BASE  th:text="${new java.text.DecimalFormat('#,##0.00').format(salario_base)}"  -->   

                </div>

            </div>

            <div class="row mt-5">
                <div class="col">
                    <form method="Post" th:action="@{/guardarInfoAcademica}" th:object="${titulos}" >
                        <div class="form-row">
                            <div class="col">
                                <input type="hidden" th:name="id_empleado" th:value="${id_empleado}" />
                                <input type="text" maxlength="25" name="nombre_certificado" class="form-control" th:field="*{nombre_certificado}" placeholder="Título Obtenido" required="true" />
                            </div>
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('nombre_certificado')}" th:errors="*{nombre_certificado}"></span>
                            <div class="col">
                                <input type="text" maxlength="25" name="nombre_institucion" class="form-control" th:field="*{nombre_institucion}" placeholder="Nombre Institución" required="true"/>

                            </div>
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('nombre_institucion')}" th:errors="*{nombre_institucion}"></span>
                        </div>
                        <hr/>
                        <div class="form-row">
                            <div class="col">
                                <label for="grado_academico" class="form-label mr-5" >Año de Graduación:</label>
                            </div>
                            <div class="col">
                                <input type="number" min="0" maxlength="4" name="anio_graduacion" class="form-control" th:field="*{anio_graduacion}" placeholder="Año Graduación" required="true" />
                            </div>
                            <div class="col">
                                <label for="grado_academico" class="form-label mr-5" >Grado Académico:</label>
                            </div>
                            <div class="col">
                                <select name="grado_academico" class="form-control col" th:field="*{grado_academico}" >
                                    <option th:value=" '1' " th:selected='true'  >Técnico</option> <!---el th:value le asigna el valor a el th:field *tipo de la factura -->
                                    <option th:value=" '2' " >Diplomado</option> <!---el th:value le asigna el valor a el th:field *tipo de la factura -->
                                    <option th:value=" '3' " >Bachillerato</option> <!---el th:value le asigna el valor a el th:field *tipo de la factura -->
                                    <option th:value=" '4' " >Licenciatura</option> <!---el th:value le asigna el valor a el th:field *tipo de la factura -->
                                    <option th:value=" '5' " >Maestría</option> <!---el th:value le asigna el valor a el th:field *tipo de la factura -->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar Título" class="btn btn-secondary mt-3" name="guardar"/>
                        </div>
                    </form>
                </div>
            </div>

            <hr/>

            <div class="row mt-3">

                <div class="col" th:if="${diplomas != null and !diplomas.empty}">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre Título</th>
                                <th scope="col">Nombre Institución</th>
                                <th scope="col">Grado Académico</th>
                                <th scope="col">Año Graduación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item:${diplomas}">
                                <td th:text="${item.id_carrera_p}"></td>
                                <td th:text="${item.nombre_certificado}"></td>
                                <td th:text="${item.nombre_institucion}"></td>
                                <td th:text="${item.nombre_Grado_Academico}"></td>
                                <td th:text="${item.anio_graduacion}"></td>
                                <td >
                                    <a th:href="@{/eliminarTitulo/} + ${item.id_carrera_p}" class="btn btn-link"><i class="far fa-trash-alt"> Eliminar</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="row mt-3 col d-flex justify-content-end">
                <button class="btn btn-secondary">Siguiente</button>
            </div>

        </div>

    </body>
</html>
